<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div>
                <img class="movie-img" src="https://image.tmdb.org/t/p/w500{{movieDetails.data.poster_path}}" alt="...">
            </div>
        </div>
        <div class="col-sm-8">
            <h1 nf-if="movieDetails.data.name != underfined">{{movieDetails.data.name}}</h1>
            <h1 nf-if="movieDetails.data.title != underfined">{{movieDetails.data.title}}</h1>
            <h3>{{'OVERVIEW'}}</h3>
            <p>{{movieDetails.data.overview}}</p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>{{'PRODUCTION_COUNTRIES'}}</th>
                        <td><span class="badge" *ngFor="let country of movieDetails.data.production_countries">{{country.name}}</span></td>
                    </tr>
                    <tr>
                        <th>{{'PRODUCTION_COMPANIES'}}</th>
                        <td><span class="badge" *ngFor="let company of movieDetails.data.production_companies">{{company.name}}</span></td>
                    </tr>
                    <tr>
                        <th>{{'FILM_LANGUAGES'}}</th>
                        <td><span class="badge">{{movieDetails.data.original_language}}</span></td>
                    </tr>
                    <tr>
                        <th>{{'DURATION'}}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{{'GENRES'}}</th>
                        <td><span class="badge" *ngFor="let genre of movieDetails.data.genres">{{genre.name}}</span></td>
                    </tr>
                    <tr>
                        <th>{{'HOMEPAGE'}}</th>
                        <td><a routerLink="{{movieDetails.data.homepage}}">{{movieDetails.data.homepage}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>{{'MEDIA'}}</h2>

    <!--<ngb-tabset class="media" active="activeJustified" justified="true">
        <ngb-tab index="0" title="{{'BACKDROPS'}}">
            <div uib-carousel active="active" no-wrap="noWrapSlides">
                <div class="mediacontent" uib-slide *ngFor="let image of movieDetails.images.backdrops; trackBy: i" index="index">
                    <img src="https://image.tmdb.org/t/p/w600{{image.file_path}}" style="margin:auto;">
                    <div class="carousel-caption"></div>
                </div>
            </div>
        </ngb-tab>
        <ngb-tab index="1" title="{{'POSTERS'}}">
            <div uib-carousel active="active" no-wrap="noWrapSlides">
                <div class="mediacontent" uib-slide *ngFor="let image of images.posters; trackBy: i" index="$index">
                    <img src="https://image.tmdb.org/t/p/w600{{image.file_path}}" style="margin:auto;">
                    <div class="carousel-caption"></div>
                </div>
            </div>
        </ngb-tab>
        <ngb-tab index="2" title="{{'VIDEO'}}">
            <div class="mediacontent" uib-carousel active="active" no-wrap="noWrapSlides">
                <div uib-slide *ngFor="let video for videos; trackBy: i" index="$index">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item video" src="{{video.key | youtubeEmbedUrl}}"></iframe>
                    </div>
                </div>
            </div>
        </ngb-tab>
    </ngb-tabset>-->

    <ngb-carousel>
  <template ngbSlide>
    <img src="http://lorempixel.com/900/500?r=1" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="http://lorempixel.com/900/500?r=2" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="http://lorempixel.com/900/500?r=3" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </template>
</ngb-carousel>
    <!--<div ng-repeat="video in videos track by $index" index="$index">
        <a href="https://www.youtube.com/watch?v={{video.key}}">{{video.key}}</a>
    </div>-->
    <!--<div ng-repeat="video in videos track by $index" index="$index">
        {{$index}}
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" ng-src="https://www.youtube.com/watch?v={{video.key}}"></iframe>
        </div>
    </div>
    <!--Title: {{data | json:4}}-->

</div>